*.swp
tags
packer_compiled.lua
configs/lazynvim/.gitignore
configs/lazynvim/LICENSE
configs/lazynvim/lazy-lock.json
configs/lazynvim/.neoconf.json
configs/lazynvim/.luarc.json
*.pyc
tools.py/watcher/watcher/*.json
