snippet kmdebug "set keymap to debug"
	vim.keymap.set(
		{"n", "v", "o", "i", "c", "s", "t"},
		"<localleader>d",
		function ()
			require"snacks".debug()
		end,
		{ expr = false, noremap = true, desc = "DEBUG" }
	)

snippet aider "aider block"
  -- AI: ${1:Please pay attention to} this code ...
  -- ... ${2:and finish the remaining part}. AI!

snippet --b "comment block"
	--[[
	${1:Comments}
	]]
